<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="navbar">
<th:block layout:fragment="content">

    <body>
    <a th:href="@{/blog/new}" class="btn btn-outline-success">New Entry</a>
    <div class="row">
        <div class="col">
            <h3>All Entries</h3>
            <table class="table">
                <thead>
                <tr>

                    <th>Title:</th>
                    <th>Category:</th>

                </tr>
                </thead>
                <tbody>

                <tr th:each="entry: ${entries}">
                    <td>

                        <a th:text="${entry.title}" th:href="@{'/blog/'+${entry.id}}"></a></td>

                    <td>
                        <th:block th:each="category : ${entry.categories}">
                        <p th:text="${category.name}"></p>

</td>
</tr>

</tbody>
</table>
</div>
<div class="col">
    <h3>Today's Entries</h3>

    <table class="table">
        <thead>
        <tr>

            <th>Title:</th>
            <th>Category:</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="entry: ${todaysEntries}">

            <td><a th:text="${entry.title}" th:href="@{'/blog/'+${entry.id}}"></a>
            </td>
            <td>
                <th:block th:each="category : ${entry.categories}">
                    <p th:text="${category.name}"></p>
            </td>

        </tr>

        </tbody>
    </table>

</div>

</div>

</body>
</th:block>
</html>