<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Post</title>
</head>
<body>

<form method="post" th:action="@{'/blog/'+${entry.id}+'/delete'}">
<button type="submit">Delete</button>
</form>
        <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
        </tr>

        </thead>
        <tbody>
        <tr>
            <!-- model attributten gelen veriye ulasmak.-->
            <td th:text="${entry.title}"></td>
            <td th:text="${entry.body}"></td>
        </tr>
        </tbody>

    </table>

</body>
</html>