<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="navbar">
<th:block layout:fragment="content">
<body>
<form method="post" th:object="${category}" th:action="@{/categories/new}">
<div>
    <label for="name">Category</label>
    <input id="name" type="text" th:field="*{name}">
    <button type="submit" class="btn btn-primary">Create</button>
</div>
</form>
</body>
</th:block>
</html>